.card-text-center {
  width: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    .card-text {
      color: #eb0a1e;
    }

    .card-btn {
      opacity: 1;
    }
  }
}

.card-text {
  width: 268px;
  height: 30px;
  margin: 0 0 8px;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.65px;
  text-align: center;
  color: #000000;
  transition: all 0.5s ease-in-out;
}
.card-year-price {
  width: 268px;
  height: 18px;
  margin: 8px 1px 128px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  color: #191919;
}
.card-image {
  margin-top: -130px;
}
.card-btn {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.card-btn:hover {
  opacity: 1;
}
